.s1 {
    background-color: rgb(255, 173, 173);
}

.s2 {
    background-color: rgb(160, 236, 255)
}

.s3 {
    background-color: rgb(227, 253, 81)
}

.s4 {
    background-color: rgb(140, 255, 136)
}
.t{
    text-align: center;
}